<template>
    <div v-if="isShow" class="errorbox">
        {{errorText}}
    </div>
</template>

<script>
export default {
    props: {
        errorText: String,
        isShow: Boolean
    },
}
</script>

<style lang="scss">
.errorbox {
    padding: 10px 10px;
    margin: 10px 0px;
    background-color: #e07e7e;
    color: #ffffff;
    border-radius: 4px;
}
</style>