<template>
    <div class="headerline">
        <nav>
            <NuxtLink :to="`/`">Projects</NuxtLink>
            <a @click="handleLogout">Logout</a>
        </nav>
    </div>
</template>

<script>
export default {
  methods: {
    handleLogout() {
      this.$auth.logout().then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>

<style lang="scss">
.headerline {
  position: fixed;
  top: 0px;
  height: 65px;
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid #cecece;

  nav {
    line-height: 65px;
    text-align: right;
    padding: 0px 100px;

    a {
      margin: 0px 10px;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

</style>