<template>
    <div class="inputfield">
        <input :type="fieldType || 'text'" :placeholder="placeholder" :autocomplete="autocomplete" @blur="validate" :value="value" @input="$emit('input', $event.target.value)"/>
        <span v-if="isShowError" class="errortext">{{errorText}}</span>
    </div>
</template>

<script>
export default {
    props: {
        autocomplete: String,
        errorText: String,
        placeholder: String,
        fieldType: String,
        expression: String,
        isRequire: {
            default: false,
            type: Boolean
        },
        value: String
    },

    data() {
        return {
            isShowError: false
        }
    },

    computed: {
        isValid: function() {
            let valid = true

            if (this.isRequire) {
                valid = (this.value && this.value.length > 0) ? true : false
            }

            if (this.expression && this.expression.length > 0) {
                let re = new RegExp(this.expression)
                valid = re.test(this.value);
            }

            return valid
        }
    },

    methods: {
        validate() {
            this.isShowError = !this.isValid
            return this.isValid
        }
    }
}
</script>

<style lang="scss">
.inputfield {
    margin: 10px 0px;
}

.errortext {
    display: block;
    color: #ff0000;
    font-size: 0.8rem;
}
</style>