<template>
    <form @submit="handleSubmit">
        <slot />
    </form>
</template>

<script>
export default {
    props: {
        submitForm: Function
    },
    methods: {
        handleSubmit(event) {
            event.stopPropagation()
            event.preventDefault()

            if (typeof this.submitForm === 'function') {
                let valid = true

                this.$children.forEach(input => {
                    if (input && typeof input.validate === 'function') {
                        if (!input.validate()) {
                            valid = false
                        }
                    }
                })

                if (valid) {
                    this.submitForm()
                }
            }
        }
    }
}
</script>

<style lang="scss">
.error {
    color:#ff0000;
    font-size: 0.8rem;
}
</style>