<template>
  <div>
    <nuxt />
  </div>
</template>

<style lang="scss">
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
  font-size: 18px !important;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

input,
textarea,
select {
  padding: 5px;
  border: 1px solid #c5c5c5;
  background-color: #fff;
  font-size: 1rem;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 1rem;
  box-shadow: 0 0 0px 1000px #feffe8 inset;
  -webkit-box-shadow: 0 0 0px 1000px #feffe8 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #385378;
  margin-right: 15px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.button--icon {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: none;
  padding: 10px 10px;
  background-color: transparent;
  margin: 0px 5px;
  cursor: pointer;
}

.button--icon:hover {
  background-color: #ededed;
}
</style>

