<template>
  <section class="container">
    <HeaderLine />
    <div class="project">
      <div class="project-item">
        <img class="logo" :src="project.logo_url">
        <div v-if="!isEdit" class="name">{{ projectName }}<button @click="handleClickEdit" class="button--icon"><Icons icon-name="edit"></Icons></button></div>
        <div v-if="isEdit" class="name">
          <InputForm :submit-form="handleSubmitEditData">
            <InputField
              error-text="Please enter project name"
              field-type="text"
              placeholder="Project name"
              :is-require='true'
              v-model="projectName"
              class="namefield" />
              <button type="submit" class="button--icon">
                <Icons icon-name="save"></Icons>
              </button>
          </InputForm>
        </div>
        <div class="active">{{ project.is_active ? 'active' : 'suspended' }}</div>
        <div class="time-values">
          <div><span class="label">time this week:</span><span class="value">{{ project.spent_time_week === 0 ? '00:00:00' : project.spent_time_week }}</span></div>
          <div><span class="label">this month time:</span><span class="value">{{ project.spent_time_month === 0 ? '00:00:00' : project.spent_time_month }}</span></div>
          <div><span class="label">total:</span><span class="value">{{ project.spent_time_all === 0 ? '00:00:00' : project.spent_time_all }}</span></div>
        </div>
      </div>
      <div class="project-details">
        <h3 class="title">Project details</h3>
        <div><span>Position: #{{project.position}}</span></div>
        <div><span>Owner watcher: {{project.is_owner_watcher === 1 ? 'true' : 'false' }}</span></div>
        <div class=users>
          <div v-for="user in (project.users || [])" :key="user.id">
            {user.name}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import HeaderLine from "./../components/HeaderLine"
import Icons from "./../components/Icons"
import InputField from "./../components/InputField"
import InputForm from "./../components/InputForm"
export default {
  components: {
    HeaderLine,
    InputField,
    InputForm,
    Icons
  },

  middleware: 'auth',

  data(){
    return {
      isEdit: false,
      projectName: ''
    }
  },

  asyncData ({ store, params }) {
    return store.dispatch("projects/getInfo", {
      projectId: params.id
    }).then((data) => {
      return {
        projectName: data.name
      }
    })
  },

  computed: {
    ...mapGetters({
      project: "projects/info"
    }),
  },

  methods: {
    ...mapActions({
      updateInfo: 'projects/updateInfo'
    }),

    handleClickEdit () {
      this.isEdit = true
      this.projectName = this.project.name
    },

    handleSubmitEditData () {
      this.updateInfo({
        name: this.projectName,
        projectId: this.project.id
      })
      this.isEdit = false
    }
  }
};
</script>

<style lang="scss">
.project {
  width: 860px;

  .project-item, .project-details {
    display: flex;
    background-color: #ffffff;
    margin: 5px 0px;
    padding: 20px;

    .title {
      padding: 20px 0px;
    }
  }
  .project-details {
    flex-direction: column;
    align-items: start;
  }

  .project-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 100px;
      width: 100px;
    }

    .name, .active {
      font-weight: 600;
    }

    .active {
      color: #0c7e0d;
    }

    .name {
      .namefield {
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .time-values {
      div {
        text-align: left;

        .label {
          width: 136px;
          display: inline-block;
        }

        .value {
          display: inline-block;
        }
      }
    }
  }
}
</style>