<template>
  <section class="container">
    <HeaderLine />
    <div class="projects">
      <div v-for="project in projects" v-bind:key="project.id" class="projects-item">
        <img class="logo" :src="project.logo_url">
        <div class="name"><NuxtLink :to="`/${project.id}`">{{ project.name }}</NuxtLink></div>
        <div class="active">{{ project.is_active ? 'active' : 'suspended' }}</div>
        <div class="time-values">
          <div><span class="label">time this week:</span><span class="value">{{ project.spent_time_week === 0 ? '00:00:00' : project.spent_time_week }}</span></div>
          <div><span class="label">this month time:</span><span class="value">{{ project.spent_time_month === 0 ? '00:00:00' : project.spent_time_month }}</span></div>
          <div><span class="label">total:</span><span class="value">{{ project.spent_time_all === 0 ? '00:00:00' : project.spent_time_all }}</span></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import HeaderLine from "./../components/HeaderLine"
export default {
  components: {
    HeaderLine
  },

  middleware: 'auth',

  asyncData ({ store }) {
    return store.dispatch("projects/getList");
  },

  computed: mapGetters({
    projects: "projects/list"
  })
};
</script>
<style lang="scss">
.projects {
  width: 860px;

  .projects-item {
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    padding: 20px;

    .logo {
      height: 100px;
      width: 100px;
    }

    .name, .active {
      font-weight: 600;
    }

    .name {
      a {
        text-decoration: none;
      }
    }

    .active {
      color: #0c7e0d;
    }

    .time-values {
      div {
        text-align: left;

        .label {
          width: 136px;
          display: inline-block;
        }

        .value {
          display: inline-block;
        }
      }
    }
  }
}
</style>