<template>
  <section class="container">
    <div class="loginform">
      <h2>LOGIN</h2>
      <InputForm :submit-form="handleSubmitLogin">
        <InputField
          error-text="Please enter your login"
          field-type="text"
          placeholder="login"
          autocomplete="username"
          :is-require='true'
          expression="^[^\s@]+@[^\s@]+\.[^\s@]+$"
          v-model="email" />
        <InputField
          error-text="Please enter your password"
          field-type="password"
          autocomplete="current-password"
          placeholder="password"
          :is-require='true'
          v-model="password" />
        <div>
          <button type="submit" class="button--grey" @click="showLoginError=false" >login</button>
        </div>
      </InputForm>
      <ErrorBox error-text="Login or password is wrong!" :is-show="showLoginError" />
    </div>
  </section>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex"
import InputForm from "./../components/InputForm"
import InputField from "./../components/InputField"
import ErrorBox from "./../components/ErrorBox"
export default {
  components: {
    InputForm,
    InputField,
    ErrorBox
  },

  middleware: 'auth',

  data() {
    return {
      email: "",
      password: "",
      loginMessage: "",
      showLoginError: false
    };
  },

  methods: {
    handleSubmitLogin() {
      this.$auth.loginWith('local', {
        data: {
          email: this.email,
          password: this.password
        }
      }).then(()=>{
        this.$router.push('/')
      }).catch(() => {
        this.showLoginError = true
      })
    }
  }
};
</script>
<style>
.loginform {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: left;
}
</style>